.homepagediv{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
.listofnote{
    margin-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}